#title{
  background-color:#ff4c68;
  color:#fff;
}
h1{
  font-family: 'Montserrat-Black',sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight:bold;
}
.container-fluid{
  padding: 3% 7%;
}
body{
  font-family:"Montserrat";
}
/* navigation */
.navbar{
  padding-bottom:4.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

}
.navbar-brand{
  font-family:"Ubuntu";
font-size:2.5rem;
font-weight:bold;
}
.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-size:1.2rem;
  font-family:"Ubuntu";
}
.download-buttons{
  margin-top:5%;
  margin-right: 3%;
  margin-bottom: 5%;
}
/* image change */
.img{
  width:50%;
  transform:rotate(30deg);
  position:absolute;
}
/* next id */
h3{
  font-family: "Montserrat";
  font-size:1.5rem;
  font-weight: bold;
}
.row{
  text-align: center;
}
#features{
  padding:5% 10%;
  background-color:white;
  position:relative;
  z-index:1;
}
.feature-box{
  padding:5%;
}
.fas{
  color:red;
  padding:1.3rem;
}
.fas:hover{
  color:#ff4c68;
}
/* testimonial-section */
#testimonials{

  text-align:center;
  background-color: #ff4c68;
  color:#ffff;
}
/* pebbles-writting */
.alt{
  font-weight:bold;
}
.h2{
  font-family:"Ubuntu";
  line-height: 1.5;
  font-size:3rem;
  padding:5%;
}
/* testimonial-image */
.testimonial-image{
  width:15%;
  border-radius: 100%;
}
/* press-section */
#press{
  background-color: #ff4c68;
  text-align:center;
  padding-bottom: 5%;
}
/* press_logo */
.logo{
  width:10%;
 margin:20px 20px 50px;
}
.carousel-item{
  padding:6% 15%;
}
h2{
  font-family:"Ubuntu";
  line-height: 1.5;
  font-size:3rem;
  font-weight:bold;
}
/* pricing-section */
.row{
  padding:100px;
}
#pricing{
  padding-top: 6%;

  text-align: center;
}
.para{
  font-weight:bold;
  color:grey;

}
@media(max-width:1028px){
  .img{
    position:static;
    transform:rotate(0);
  }
}
#cta{
  background-color:#ff4c68;
 padding :5% 5%;
  text-align:center;

}
.sk{
  font-size:3.5rem;
   text-align:center;
  margin:5%;
  line-height:1.5;
  padding-right: 5%;
  padding-left:5%;
  color:white;
}
.button2{
  margin:1.5%;
}
#footer{
  padding:3%;
  text-align:center;
}
.fac{
  padding:1.5%;
}
